<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block 'title' %}{% endblock 'title' %} | Mi Web Personal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--Cabecera y menu-->
        <h1>Mi web personal</h1>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Portada</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">Acerca de</a>
                </li>
                <li>
                    <a href="{% url 'portafolio' %}">POrtafolio</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}t">Contacto</a>
                </li>
            </ul>

            <!--Contenido-->
            <!--Esto es una etiqueta de template y es para añadir template-->
            {% block content %}
            {% endblock  %}
    </body>
</html>

